.upload_div{
    background-color: rgb(255, 255, 255);
    height: 55vh;
    width: 77vw;
    margin-left: 1.5vw;
    margin-top: 9vh;
    border-radius: 0.5rem;
    padding-bottom: 3vh;
    /* padding-top: 1vh; */
    float: left;
}
