/* .login-div{
    margin: 150px auto;
    width: 400px;
} */
/* body{
    background-color: #f0f0f0;
    background-image: url(../public/back.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
} */
